################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webapi-lab01/bin/Debug/net6.0
/webapi-lab01/obj
